global_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by qwerty (qwerty1) -->
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="all" type="T_all"/>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="game" type="T_game"/>
	<xs:element name="genre" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="rating" type="xs:decimal"/>
	<xs:complexType name="T_all">
		<xs:sequence>
			<xs:element ref="game" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_game">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="genre"/>
			<xs:element ref="date"/>
			<xs:element ref="rating"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_genre">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Жанр: action"/>
			<xs:enumeration value="Жанр: action, adventure"/>
			<xs:enumeration value="Жанр: action, rpg"/>
			<xs:enumeration value="Жанр: arcade"/>
			<xs:enumeration value="Жанр: rpg"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_name">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Black Mesa"/>
			<xs:enumeration value="Divinity: Original Sin 2"/>
			<xs:enumeration value="Divinity: Original Sin 2 - Definitive Edition"/>
			<xs:enumeration value="God of War (2018)"/>
			<xs:enumeration value="Mount &amp; Blade II: Bannerlord"/>
			<xs:enumeration value="Ori and the Will of the Wisps"/>
			<xs:enumeration value="Prey (2017)"/>
			<xs:enumeration value="Red Dead Redemption 2"/>
			<xs:enumeration value="Resident Evil 2 Remake"/>
			<xs:enumeration value="Witcher 3: Wild Hunt - Complete Edition, The"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_rating">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
</xs:schema>
